<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.syd.hand_shanwei_2" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <!-- 原版 -->
    <!-- 检测网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 改变wifi状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".Atys.WelcomeAty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Atys.HomeActivity"
        android:logo="@mipmap/ic_launcher"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar"/>
        <activity android:name=".Atys.Oder_Tomorrow_Seat_Home">
        </activity>
        <activity android:name=".Atys.Aty_LogIn"/>
        <activity android:name=".OrderSeats.SelectSeatActivity"/>
        <activity android:name=".OrderSeats.Order_Seat_Process"/>
        <activity android:name=".SearchBook.SearchBookResultActivity"/>
        <activity android:name=".ConfigCenter.SeeOrderSeatHistory"/>
        <activity android:name=".ConfigCenter.SeeAboutOur"/>
        <activity android:name=".ConfigCenter.SeeBookRouteCollect"/>
        <activity android:name=".SearchBook.SeeMap"/>
        <activity android:name=".SearchBook.BookSearchOptionBox" />
    </application>
</manifest>
