<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.syd.hand_shanwei_2" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".Atys.MainActivity">
        </activity>
        <activity android:name=".Atys.WelcomeAty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Atys.HomeActivity"
        android:logo="@mipmap/ic_launcher"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar"/>
        <activity android:name=".Atys.Oder_Tomorrow_Seat_Home">
        </activity>
        <activity android:name=".Atys.Aty_LogIn"/>
        <activity android:name=".BookSeats.SelectSeatActivity"/>
        <activity android:name=".Atys.Order_Seat_Process"/>
        <activity android:name=".SearchBook.SearchBookResultActivity"/>
    </application>
</manifest>
